*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --green: #00dcb4;
    --red: #5c141f;
    --black: #1f1f1f;
    --brown: #2b0000;
    --sidebarWidth: 300px;
    --principalWidth: calc(100vw - var(--sidebarWidth));
}

body{
    background-color: var(--black);
}

a:visited{
    text-decoration: none;
    color: var(--black);
}




/* #menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 400px;
    height: 80px;
    border-radius: 30px;

    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);


}

#menu::before{
     position: fixed;
     content: "";
     background-color: white;
     opacity: 0.5;
     filter: blur(5px);
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 
     width: 400px;
     height: 80px;
     border-radius: 30px;
 
     position: fixed;
     bottom: 0px;
     left: 50%;
     transform: translateX(-50%);

}

*/
.button{
    font-size: 50px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(100vw + 80px);
    top: 0;
    /* background-color: red; */

    transform-origin: -120px;
    transform: rotate(calc(90deg + 30deg*var(--i)));
    /* transform: rotate(90deg); */
}



.linkedin{
    transform-origin: -118px;
}

.instagram{
    transform-origin: -120px;
}

.github{
    transform-origin: -130px;
}

.button a{
    transform: rotate(calc(270deg + -30deg*var(--i)));
    text-decoration: none;
    color: var(--red);

}




.button:hover{
    font-size: 48px;
    top: -5px;
}

canvas{
    position: fixed;
    left: 100%;
    transform: translate(-100%);
    background-color: var(--black);
    z-index: -1;


}

/* .indicator{
    z-index: 60;
    background-color: red;
    height: 20px;
    width: 200px;

    transform-origin: -0;
    transform: rotate(30deg);

} */

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.apresentation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;


    max-width: 1000px;
    height: 450px;

}

.firstPhrase{
    font-family: monospace;
    color: white;
    font-size: 24px;
    
}

.name{
    display: flex;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--green);
    text-shadow: 0 0 40px white;
    margin-left: -6px;
}

.firstName{
    margin-right: 30px;
}

.secondPhrase{
    color: white;
    font-size: 80px;

}

.description{
    width: 600px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}








